body{
    background-color: #d04143;
    background-image: linear-gradient(43deg, #d04143 0%, #C850C0 46%, #FFCC70 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main{
    flex-grow: 1;
}